name: Publish Snapshots

on:
  push:
    branches:
      - master

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v6
      - uses: gradle/actions/wrapper-validation@v5
      - name: Set up JDK 25
        uses: actions/setup-java@v5
        with:
          distribution: oracle
          java-version: 25
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Build with Gradle
        run: |
          ./gradlew --no-daemon -s :build
      - name: Publish Snapshot to GitHub Packages
        run: |
          ./gradlew --no-daemon -s publishAllPublicationsToGitHubPackagesRepository -Prepo=${{ github.repository }} -x sign
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_ACTOR: ${{ github.actor }}
